.nav {
    position: fixed;
    top: 0;
    width: 100;
    padding: 20px;
    
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30 px;
    object-fit: contain;
}
